.section-footer {
    // background-color: $color-grey-light-2;
    // height: 30vh;
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        // .contacts-box {
        //     &__contacts {
        //         margin-right: 2rem;
        //     }
        // }
    }
}
