.header.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.header {
    background-color: $color-grey-light-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 9rem;
    &__nav-mob {
        display: none;
    }
    @include respond(tab-land) {
        height: 9rem;
    }

    &__nav-mob {
        @include respond(tab-port) {
            display: block;
            padding-right: 4rem;
            .fa-bars {
                font-size: 4rem;
                color: $color-grey-dark;
            }
        }
    }
    &__nav-desktop {
        @include respond(tab-port) {
            display: none;
        }
        margin: 0 auto;
        width: $grid-width;
        margin-left: calc((100% - #{$grid-width}) / 8);
        margin-top: calc(9rem - 1.6rem - 0.5rem);
        .nav-links {
            display: flex;
            justify-content: space-between;
            .nav-link {
                text-decoration: none;
                text-transform: uppercase;
                color: $color-grey-dark;
                font-size: 1.6rem;
                padding: 0.5rem 1.5rem;
                border-radius: 0.2rem;
                transition: all 0.3s;
                &:hover {
                    background-color: $color-grey-dark;
                    color: $color-white;
                }
            }
        }
    }
}
